@charset "UTF-8";
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 300;
  src: url("../fonts/poppins-v24-latin-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 900;
  src: url("../fonts/poppins-v24-latin-900.woff2") format("woff2");
}
:root {
  --color-brand-normal: #819B57;
  --color-brand-dark: #465929;
  --color-brand-light: #CFCFBC;
  --color-primary-light: #FAF4EA;
  --color-primary-dark: #31261A;
  --color-mobile-background: #CFCFBC;
  --color-secondary-dark: #A18268;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

address {
  font-style: normal;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.text-brand {
  color: var(--color-brand-normal);
}

.text-brand-dark {
  color: var(--color-brand-dark);
}

.text-bold {
  font-weight: 600;
}

.text-uppercase {
  text-transform: uppercase;
}

.traditions-text:last-child {
  max-width: 340px;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.modal-btn-open {
  background-color: var(--color-brand-normal);
  color: var(--color-primary-light);
  border: 2px, var(--color-brand-normal), solid;
  border-radius: 8px;
  cursor: pointer;
  padding: 16px 32px;
  font-weight: 600;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: transparent;
  color: var(--color-brand-dark);
}

.carousel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: transparent;
  border: 1px solid var(--color-primary-dark);
  border-radius: 50%;
  cursor: pointer;
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-brand-light);
}

.link {
  color: var(--color-primary-light);
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-normal);
}

.header-link {
  color: var(--color-primary-light);
  text-decoration: none;
  transition: color 0.5s;
}

.header-link:hover {
  color: var(--color-brand-normal);
}

.chef-card {
  display: flex;
  gap: 30px;
}
.chef-card__photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-secondary-dark);
}
.chef-card__subtitle {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}
.chef-card__text {
  margin-bottom: 24px;
}
.chef-card__text:last-child {
  margin-bottom: 0;
}

.advantages-section {
  background-color: var(--color-brand-normal);
  padding: 16px 0;
}
.advantages-section__list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.advantages-section__item {
  color: var(--color-primary-light);
  font-size: 20px;
  font-weight: 300;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.chefs-section__title {
  margin: 0 auto 80px;
  text-align: center;
  position: relative;
}
.chefs-section__title::before, .chefs-section__title::after {
  content: "";
  display: block;
  width: 352px;
  border: 2px solid var(--color-brand-light);
  position: absolute;
  bottom: 24px;
}
.chefs-section__title::before {
  left: 0;
}
.chefs-section__title::after {
  right: 0;
}
.chefs-section__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 30px;
}
.chefs-section__item {
  flex-basis: calc((100% - 30px) / 2);
}

.contact-section {
  padding-bottom: 96px;
}

.contact-container {
  display: flex;
  flex-basis: calc((100% - 32px) / 2);
  gap: 32px;
}

.contact-title {
  margin-bottom: 16px;
}

.contact-text {
  color: var(--color-brand-dark);
}

.order-call-btn {
  margin-top: 32px;
  margin-bottom: 24px;
  margin-left: 200px;
  background-color: var(--color-brand-normal);
  color: var(--color-primary-light);
  border: 2px, var(--color-brand-normal), solid;
  border-radius: 8px;
  cursor: pointer;
  padding: 16px 32px;
  font-weight: 600;
}

/*!доработать кнопку, вывести лишнее*/
.contact-map {
  max-width: 603px;
  width: 100%;
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.footer {
  position: relative;
  display: flex;
  font-style: normal;
  padding: 32px 0;
  background-image: url(/images/footer-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--color-primary-dark);
}

.footer::before,
.footer::after {
  position: absolute;
  content: "";
  bottom: 0;
  background-repeat: no-repeat;
}

.footer::before {
  background-image: url(../images/decor-bread-small.png);
  width: 180px;
  height: 120px;
  left: 0;
}

.footer::after {
  background-image: url(../images/decor-bread-large.png);
  width: 380px;
  height: 190px;
  right: 0;
}

.footer-container {
  display: flex;
  gap: 20px;
  padding: 32px 50px;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.footer-navigation,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-menu-link {
  color: var(--color-primary-light);
}

.footer-menu-link:hover {
  color: var(--color-brand-normal);
}

/*-----*/
.address-list,
.footer-privacy {
  flex-grow: 1;
}

.address-link {
  font-size: 16px;
  font-weight: 300px;
  color: var(--color-primary-light);
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-brand-normal);
}

.address-icon {
  fill: var(--color-primary-light);
}

.address-icon:hover {
  fill: var(--color-brand-normal);
}

.footer-privacy-link {
  color: var(--color-primary-light);
  font-weight: 300;
  font-size: 16px;
}

.footer-privacy-text {
  font-weight: 400;
  color: #A18268;
  font-size: 14px;
}

.formats-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.formats-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.format-title {
  text-align: center;
  margin-bottom: 80px;
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}

.format-card {
  position: relative;
  padding: 24px;
  border-radius: 16px;
  color: var(--color-primary-light);
  background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--color-primary-dark) 100%);
  width: 349px;
  height: 444px;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.format-card:hover {
  transform: scale(1.05);
}

.format-title {
  margin-bottom: 80px;
}

.format-subtitle {
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-primary-light);
}

.format-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.icon-close {
  width: 32px;
  height: 32px;
}

.input-item {
  width: 100%;
  padding: 16px 42px;
  border: 1px solid var(--color-secondary-dark);
  border-radius: 8px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
}

.input-item:focus {
  border-color: var(--color-brand-normal);
  outline: none;
  color: var(--color-primary-dark);
}

input::-moz-placeholder {
  color: var(--color-secondary-dark);
  font-weight: 400;
  font-size: 16px;
  padding-left: 0;
}

input::placeholder {
  color: var(--color-secondary-dark);
  font-weight: 400;
  font-size: 16px;
  padding-left: 0;
}

input:focus::-moz-placeholder {
  color: var(--color-primary-dark);
}

input:focus::placeholder {
  color: var(--color-primary-dark);
}

.form-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  line-height: 1.17;
}

.modal-btn-open {
  margin-top: 32px;
  margin-bottom: 24px;
}

.form-terms {
  max-width: 220px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  margin: 0 auto;
}

.form-terms-link {
  color: var(--color-primary-dark);
  text-underline-offset: 2px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 32px;
  width: 100%;
}
.header__container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}
.header__menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

.hero-section {
  background-image: linear-gradient(102.76deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0) 90.36%), url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-title {
  color: var(--color-primary-light);
  font-weight: 900;
  font-size: 128px;
  margin-bottom: 0;
  text-align: center;
}

.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba 0, 0, 0, 0.5;
  padding: 20px 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  text-align: center;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  padding: 128px 128px 187px;
}

.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
}

.section {
  padding: 48px 0;
}
.section__title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}
.section--centered {
  text-align: center;
}

.traditions-section {
  padding-top: 96px;
}
.traditions-section__container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.traditions-section__content {
  max-width: 710px;
}
.traditions-section__title {
  margin-bottom: 42px;
}

/*---------------- MODAL WINDOW --------------*/
.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba 0, 0, 0, 0.5;
  padding: 20px 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  text-align: center;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  padding: 128px 128px 187px;
}

.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
}/*# sourceMappingURL=main.css.map */