@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 300;
    src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 400;
    src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 600;
    src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 900;
    src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}


:root {
    --color-brand-normal: #819B57;
    --color-brand-dark: #465929;
    --color-brand-light: #CFCFBC;
    --color-primary-light: #FAF4EA;
    --color-primary-dark: #31261A;
    --color-mobile-background: #CFCFBC;
    --color-secondary-dark: #A18268;
}
/*----------BASE---------*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
main {
    display: none;
}
body {
    color: var(--color-primary-dark);
    background-color: var(--color-primary-light);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
}

.section {
    padding: 48px 0;
}
address {
    font-style: normal;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

.button {
    background-color: var(--color-brand-normal);
    color: var(--color-primary-light);
    border: 2px, var(--color-brand-normal), solid;
    border-radius: 8px;
    cursor: pointer;
    padding: 16px 32px;
    border-width: 2px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.button:hover,
.button:focus {
    background-color: transparent;
    color: var(--color-brand-dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

/*----------HEADER---------*/

.header-item-link {
    color: var(--color-primary-light);
    font-weight: 400;
}

.header-item-link:hover {
    color: var(--color-brand-normal);
    font-weight: 600;
}


.header-container {
    background-color: red;
    display: flex;
    align-items: center;
    margin-top: 32px;
    gap: 40px;
}

.header-navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
}

/*.header-logo {
    margin-right: 152px;
    margin-left: 103px;
}*/
.header-list {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

/*.header-item:not(:last-child) {
margin-right: 64px;
}*/

/*----------HERO---------*/
.background-image {
    background-image: url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
}

.hero-section {
    background-color: #31261A;
    padding: 272px 0;
}

.hero-title {
    color: var(--color-primary-light);
    font-weight: 900;
    font-size: 128px;
    margin-bottom: 0;
}
.hero-title-decoration {
    color: var(--color-brand-normal);
}

/*----------ADVANTAGES---------*/
.advantages-section {
    background-color: var(--color-brand-normal);
}


.advantages-list {
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 16px 112.5px;
}

.advantages-item {
    color: var(--color-primary-light);
    font-size: 20px;
    font-weight: 300;
}

.section-title {
    color: var(--color-primary-dark);
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}
.section-title-decoration {
    color: var(--color-brand-dark);
}

/*-------------TRADITIONS----------*/
.traditions-section {
    padding-top: 96px;
    display: flex;
    gap: 40px;
}

.traditions-content {
    max-width: 710px;
    justify-content: space-between;
    gap: 40px;
}

.traditions-title {
    margin-bottom: 42px;
}

.traditions-text:last-child {
    max-width: 340px;
}

.traditions-text .brand {
    color: var(--color-brand-normal);
    font-weight: 600;
}

.traditions-text .uppercase {
    text-transform: uppercase;
}


/*-----CHEFS SECTION----------*/
.chefs-title {
    margin: 0 auto 80px;
    max-width: 520px;
}

.chefs-title::before,
.chefs-title::after {
    display: block;
    width: 352px;
    border: 1px solid var(--color-brand-light);
    content: "";
}

.chef-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 30px;

}

.chefs-item {
    flex-basis: calc((100% - 30px) / 2);
}

.chef-card {
    display: flex;
    gap: 30px;
}

.chef-photo {
    border-radius: 4px 4px 4px 200px;
    box-shadow: 
    -16px 16px 0 0 var(--color-primary-light), 
    -16px 16px 0 2px var(--color-secondary-dark) ;
}

.chef-subtitle {
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 600;
}

.chef-text p {
    margin-bottom: 24px;
}

.chef-text p:last-child {
    margin-bottom: 0;
}
/*-----FORMATS SECTION----------*/
.formats-container {
    display: flex;
    align-items: center;
    gap: 32px;
}

.carousel-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    padding: 0;
    background-color: transparent;
    border: 1px solid var(--color-primary-dark);
    border-radius: 50%;
    cursor: pointer;
}
.carousel-button:hover {
    background-color: var(--color-primary-dark);
    fill: var(--color-brand-light);
}

.formats-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.format-title {
text-align: center;
margin-bottom: 80px;
}

.formats-item {
    flex-basis: calc((100% - 40px) / 3);
    
}

.format-card {
    padding: 24px;
    border: 1px solid black; /*remove*/
    border-radius: 16px;
    color: black; /* заменить на праймери лайт*/
    background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--color-primary-dark) 100%);
    width: 349px;
    height: 444px;
}

.format-title {
    margin-bottom: 80px;
}
.format-subtitle {
    font-size: 24px;
    font-weight: 600;
}

.format-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
}

/*------CONTACT SECTION---------*/
.contact-section {
    padding-bottom: 96px;
}

.contact-container {
    display: flex;
    flex-basis: calc(( 100% - 32px) / 2);
    gap: 32px;
}

.contact-title {
    margin-bottom: 16px;
}

.contact-text {
    color: var(--color-brand-dark);
}

.contact-map {
    max-width: 603px;
    width: 100%;
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
}

.contact-privacy-text {
    color: var(--color-primary-dark);
    font-size: 12px;
}
.contact-privacy-text a {
    text-decoration: underline;
}

/*------FOOTER SECTION---------*/
.footer-section {
    display: flex;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
}

.footer-container {
    display: flex;
    gap: 20px;
    padding: 32px 50px;
    background-image: url(/images/footer-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color-primary-dark);
}

.footer-logo,
.footer-menu {
    flex-grow: 1;
}

.footer-navigation,
.footer-address {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}

.footer-menu-link {
    color: var(--color-primary-light);
}

.footer-menu-link:hover {
    color: var(--color-brand-normal);
}

/*-----*/
.address-list,
.footer-privacy {
    flex-grow: 1;
}

.address-link {
    font-size: 16px;
    font-weight: 300px;
    color: var(--color-primary-light);
    text-decoration: none;
}

.address-link:hover {
    color: var(--color-brand-normal);
}

.address-icon {
    fill: var(--color-primary-light);
}
.address-icon:hover {
    fill: var(--color-brand-normal);
}

.footer-privacy-link {
    color: var(--color-primary-light);
    font-weight: 300;
    font-size: 16px;
}

.footer-privacy-text {
    font-weight: 400;
    color: #A18268;
    font-size: 14px;
}