@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 300;
    src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 400;
    src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 600;
    src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 900;
    src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}


:root {
    --color-brand-light: #819B57;
    --color-brand-dark: #465929;
    --color-primary-light: #FAF4EA;
    --color-primary-dark: #31261A;
    --color-mobile-background: #CFCFBC;
}
/*----------BASE---------*/
* {
    box-sizing: border-box;
}
body {
    color: var(--color-primary-dark);
    background-color: var(--color-primary-light);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1,5;
    margin: 0;
}

.section {
    padding: 48px 0;
}
address {
    font-style: normal;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.header {
background-color: var(--color-mobile-background);
    /*тут буде фото*/
}


.button {
    background-color: var(--color-brand-light);
    color: var(--color-primary-light);
    border: 2px, var(--color-brand-light), solid;
    border-radius: 8px;
    cursor: pointer;
    padding: 16px 32px;
    border-width: 2px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.button:hover {
    background-color: transparent;
    color: var(--color-brand-dark);
}
.button:focus {
    background-color: pink;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

.hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

/*----------HEADER---------*/
.header-item-link {
    color: var(--color-primary-light);
    font-weight: 400;
}

.header-item-link:hover {
    color: var(--color-brand-light);
    font-weight: 600;
}

.header-container {
    display: flex;
    align-items: center;
    margin-top: 32px;
    gap: 40px;
}

.header-navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
}

/*.header-logo {
    margin-right: 152px;
    margin-left: 103px;
}*/
.header-list {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

/*.header-item:not(:last-child) {
margin-right: 64px;
}*/

/*----------HERO---------*/
.hero-section {
    padding: 272px 0;
}
.hero-title {
    color: var(--color-primary-light);
    font-weight: 900;
    font-size: 128px;
    margin-bottom: 0;
}
.hero-title-decoration {
    color: var(--color-brand-light);
}

/*----------ADVANTAGES---------*/
.advantages-section {
    background-color: var(--color-brand-light);
}


.advantages-list {
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 16px 112.5px;
}

.advantages-item {
    color: var(--color-primary-light);
    font-size: 20px;
    font-weight: 300;
}

.section-title {
    color: var(--color-primary-dark);
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}
.section-title-decoration {
    color: var(--color-brand-dark);
}

/*-------------TRADITIONS----------*/
.traditions-content {
    max-width: 710px;
    justify-content: space-between;
    gap: 40px;
}

.traditions-title {
    margin-bottom: 42px;
}

.traditions-text:last-child {
    max-width: 340px;
}

.traditions-text .brand {
    color: var(--color-brand-light);
}

.traditions-text .uppercase {
    text-transform: uppercase;
    font-weight: 600;
}

.traditions-section {
    padding-top: 96px;
    display: flex;
    gap: 40px;
}



/*-----CHEFS SECTION----------*/
.chefs-title {
    margin-bottom: 80px;
}
.chef-subtitle {
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 600;
}

/*-----FORMATS SECTION----------*/
.formats-list {
    display: flex;
    gap: 20px;
    justify-content: center;
}

/*.formats-title {
margin-bottom: 80px;
}*/
.formats-item {
    background-color: var(--color-mobile-background);  /*тут буде фон*/
    border-radius: 16px;
    padding: 24px;
    flex-basis: calc((100% - 40px) / 3);

}
.formats-article {
    color: var(--color-primary-light);
}

.formats-subtitle {
    font-size: 24px;
    font-weight: 600;
}

.formats-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
}

/*------CONTACT SECTION---------*/
.contact-title {
    margin-bottom: 16px;
}

.contact-text {
    color: var(--color-brand-dark);
}

.map {
    max-width: 603px;
    width: 100%;
}
.contact-privacy-text {
    color: var(--color-primary-dark);
    font-size: 12px;
}
.contact-privacy-text a {
    text-decoration: underline;
}

/*------FOOTER SECTION---------*/
.footer-section {
    background-color: #31261A; /*-тут буде фон-*/
    font-style: normal;
    font-family: 'Poppins', sans-serif;
}

.footer-list-link {
    color: var(--color-primary-light);
}

.address-link {
    font-size: 16px;
    font-weight: 300;
    color: var(--color-primary-light);
}
.footer-privacy-link {
    color: var(--color-primary-light);
    font-weight: 300;
    font-size: 16px;
}
.footer-privacy-text {
    font-weight: 400;
    color: #A18268;
    font-size: 14px;
}