*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: var(--color-primary-dark);
    background-color: var(--color-primary-light);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;

        @media screen and (min-width: $bp-desktop) {
            font-size: 18px;
            font-weight: 400;
        }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

image {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    text-decoration: none;
    display: inline-block;
}

address {
    font-style: normal;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}