
@import './utils/fonts';
@import './utils/variables';
@import './base';
@import './utils/texts';
@import './utils/utils';


@import './components/buttons';
@import './components/carousel-button';
@import './components/chef-card';
@import './components/form-terms';
@import './components/input';
@import './components/links';
@import './components/pagination';

@import './layouts/advantages-section';
@import './layouts/chefs-section';
@import './layouts/contact-section';
@import './layouts/container';
@import './layouts/footer';
@import './layouts/format-card';
@import './layouts/formats-section';
@import './layouts/header';
@import './layouts/hero-section';
@import './layouts/mobile-menu';
@import './layouts/modal';
@import './layouts/section';
@import './layouts/traditions-section';





/*---------------- MODAL WINDOW --------------*/

.backdrop {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba (0, 0, 0, 0.5);
    padding: 20px 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: relative;
    width: 100%;
    max-width: 880px;
    height: 100%;
    max-height: 880px;
    text-align: center;
    background-color: var(--color-primary-light);
    border-radius: 32px;
    padding: 128px 128px 187px;
}

.modal-btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
}
