.modal-btn-open {
    background-color: var(--color-brand-normal);
    color: var(--color-primary-light);
    border: 2px, var(--color-brand-normal), solid;
    border-radius: 8px;
    cursor: pointer;
    padding: 16px 32px;
    font-weight: 600;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: transparent;
    color: var(--color-brand-dark);
}