.button {
    display: block;
    padding: 16px 32px;
    color: var(--color-primary-light);
    font-weight: 600;
    border: 2px solid var(--color-brand-normal);
    background-color: var(--color-brand-normal);
    border-radius: 8px;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: transparent;
    color: var(--color-brand-dark);
}
