.carousel-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    padding: 0;
    background-color: transparent;
    border: 1px solid var(--color-primary-dark);
    border-radius: 50%;
    cursor: pointer;
}

.carousel-button:hover {
    background-color: var(--color-primary-dark);
    fill: var(--color-brand-light);
}