.input {
    position: relative;

    &__label {
        position: absolute;
        top: 16px;
        left: 42px;
        /*display: flex;
        flex-direction: column;*/
    }

    &__control {
        width: 100%;
        padding: 16px 42px;
        border: 1px solid var(--color-secondary-dark);
        border-radius: 8px;
        line-height: 1.17;
        background-color: transparent;
        font-weight: 400;
        font-size: 16px;

        &:focus {
            border-color: var(--color-brand-normal);
            outline: none;
            color: var(--color-primary-dark);
        }

        &::placeholder {
            color: var(--color-secondary-dark);
            font-weight: 400;
            font-size: 16px;
            padding-left: 0;
        }

        &:focus::placeholder {
            color: var(--color-primary-dark);
        }
    }
}