.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    &__button {
        background-color: var(--color-secondary-dark);
        width: 12px;
        height: 12px;
        border-radius: 50%;
        padding: 0;

        &--active {
            background-color: var(--color-brand-dark);
        }
    }
}