.advantages-section {
    background-color: var(--color-brand-normal);
    padding: 16px 0;
    width: 1440px;
    margin-left: 1440px;
}

.advantages-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.advantages-item {
    color: var(--color-primary-light);
    font-size: 20px;
    font-weight: 300;
}

.section-title {
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}

.section-title.centered {
    text-align: center;
}

.section-title-decoration {
    color: var(--color-brand-dark);
}