.contact-section {
    padding-bottom: 96px;

    &__container {
        display: flex;
        /*flex-basis: calc((100% - 32px) / 2);*/
        gap: 32px;
    }

    &__title {
        margin-bottom: 16px;
    }

    &__form-field {
        margin-bottom: 24px;
    }

    &__button {
        display: block;
        margin: 0 auto 16px;
    }

    &__map {
        max-width: 603px;
        width: 100%;
        flex-shrink: 0;
        border: none;
        border-radius: 16px;
    }
}
