.contact-section {
    padding-bottom: 96px;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 32px;
        @media screen and (min-width: $bp-desktop) {
            flex-direction: row;
            /*flex-basis: calc((100% - 32px) / 2);*/
            gap: 24px;
        }
    }

    &__title {
        margin-bottom: 16px;
    }

    &__form-field {
        margin-bottom: 24px;
    }

    &__button {
        display: block;
        margin: 0 auto 16px;
    }

    &__map {
        flex-shrink: 0;
        height: 176px;
        margin: 0 -24px;
        border: none;
        border-radius: 16px;

        @media screen and (min-width: $bp-tablet) {
            height: 500px;
            width: 320px;
            margin: auto;
        }
        @media screen and (min-width: $bp-desktop) {
            width: 600px;
            height: 595px;
        }
    }
}
