.footer {
    position: relative;
    padding: 32px 0;
    background-image: url(/images/footer-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color-primary-dark);

    &::before,
    &::after {
        position: absolute;
        content: '';
        bottom: 0;
        background-repeat: no-repeat;
    }
    
    &::before {
        background-image: url(../images/decor-bread-small.png);
        width: 180px;
        height: 120px;
        left: 0;
    }
    
    &::after {
        background-image: url(../images/decor-bread-large.png);
        width: 380px;
        height: 190px;
        right: 0;
    }

    &__container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 32px 50px;
        @media screen and (min-width: $bp-desktop) {
            flex-direction: row;
            flex-basis: 50%;
        }
    
        }
    &__navigation,
    &__address {
        display: flex;
        text-align: center;
        flex-direction: column;
        gap: 20px;
        @media screen and (min-width: $bp-desktop) {
            flex-direction: row;
            flex-basis: 50%;
        }
    }

    &__logo,
    &__menu {
        flex-grow: 1;
        }

    &__menu-link {
        color: var(--color-primary-light);
    }
    &__menu-link:hover {
        color: var(--color-brand-normal);
    }

    &__privacy {
    flex-grow: 1;
    }

    &__privacy-link {
        color: var(--color-primary-light);
        font-weight: 300;
        font-size: 16px;
    }
    
    &__privacy-text {
        font-weight: 400;
        color: #A18268;
        font-size: 14px;
    }

    &__address-link {
        font-size: 16px;
        font-weight: 300px;
        color: var(--color-primary-light);
        text-decoration: none;
    }

    &__address-link:hover {
        color: var(--color-brand-normal);
    }

    &__address-social {
        display: flex;
        justify-content: center;
        gap: 22px;
        margin-top: 16px;
    }

    &__address-icon {
        fill: var(--color-primary-light);
    }

    &__address-icon:hover {
        fill: var(--color-brand-normal);
    }
}
