.footer {
    position: relative;
    display: flex;
    font-style: normal;
    padding: 32px 0;
    background-image: url(/images/footer-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color-primary-dark);
}

.footer::before,
.footer::after {
    position: absolute;
    content: '';
    bottom: 0;
    background-repeat: no-repeat;
}

.footer::before {
    background-image: url(../images/decor-bread-small.png);
    width: 180px;
    height: 120px;
    left: 0;
}

.footer::after {
    background-image: url(../images/decor-bread-large.png);
    width: 380px;
    height: 190px;
    right: 0;
}

.footer-container {
    display: flex;
    gap: 20px;
    padding: 32px 50px;

}

.footer-logo,
.footer-menu {
    flex-grow: 1;
}

.footer-navigation,
.footer-address {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}

.footer-menu-link {
    color: var(--color-primary-light);
}

.footer-menu-link:hover {
    color: var(--color-brand-normal);
}

/*-----*/
.address-list,
.footer-privacy {
    flex-grow: 1;
}

.address-link {
    font-size: 16px;
    font-weight: 300px;
    color: var(--color-primary-light);
    text-decoration: none;
}

.address-link:hover {
    color: var(--color-brand-normal);
}

.address-icon {
    fill: var(--color-primary-light);
}

.address-icon:hover {
    fill: var(--color-brand-normal);
}

.footer-privacy-link {
    color: var(--color-primary-light);
    font-weight: 300;
    font-size: 16px;
}

.footer-privacy-text {
    font-weight: 400;
    color: #A18268;
    font-size: 14px;
}