.format-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /*width: 349px;*/
    height: 444px;
    padding: 24px;
    border-radius: 16px;
    background-image:
        linear-gradient(180deg,
        rgba(49, 38, 26, 0) 55.21%,
        rgba(49, 38, 26, 0.71) 72.92%,
        var(--color-primary-dark) 100%);
    overflow: hidden;
    /*transition: transform 0.3s;*/

    /*&:hover {
        transform: scale(1.05);
    }*/

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &__subtitle {
        font-size: 24px;
        font-weight: 600;
        color: var(--color-primary-light);
    }

    &__text {
        font-weight: 300;
        font-size: 14px;
        color: var(--color-primary-light);
    }
}

