.icon-close {
    width: 32px;
    height: 32px;
}

.input-item {
    width: 100%;
    padding: 16px 42px;
    border: 1px solid var(--color-secondary-dark);
    border-radius: 8px;
    background-color: transparent;
    font-weight: 400;
    font-size: 16px;
}

.input-item:focus {
    border-color: var(--color-brand-normal);
    outline: none;
    color: var(--color-primary-dark);
}

input::placeholder {
    color: var(--color-secondary-dark);
    font-weight: 400;
    font-size: 16px;
    padding-left: 0;
}

input:focus::placeholder {
    color: var(--color-primary-dark);
}

.form-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    line-height: 1.17;
}

.modal-btn-open {
    margin-top: 32px;
    margin-bottom: 24px;

}

.form-terms {
    max-width: 220px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    margin: 0 auto;
}

.form-terms-link {
    color: var(--color-primary-dark);
    text-underline-offset: 2px;
}